@import './image_annotator.scss';
@import './right_bar.scss';

* {
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
}

.layout {
  // padding: 0.5rem;
}

.layout__navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;

  a {
    text-decoration: none;
    color: black;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.layout__annotation {
  display: flex;
  justify-content: space-between;

  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
}

.layout__annotation__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

}

@media screen and (min-width: 768px) {
  .layout {
    // padding: 4rem;
  }
  .payslip__top {
    flex-direction: row;
  }
  .payslip__bottom {
    flex-direction: row;
    .payslip__bottom__text {
      margin-bottom: 0;
    }
  }
}





