// RIGHT BAR
.right_bar {
  width: 200px;
}
.right_bar__section {
  
}
.right_bar__section__title {
  
}

.right_bar__section--submit {
  padding: 0.6rem;
}


// SELECT POKEMON
.select__pokemon {
  .select__pokemon__results {

  }  
}

.select__pokemon__result--selected {
  border: 1px solid rgb(113, 255, 47)!important;
}
.select__pokemon__result {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid lightgrey;
  border-radius: 4px;
  margin-bottom: 0.2rem;

  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  transition: 0.2s;

  .select__pokemon__result--name {
    font-size: 0.6rem;
  }

  .select__pokemon__result--sprite {
    height: 2rem;
    width: 2rem;
  }
}
.select__pokemon__result:hover {
  border: 1px solid black;
}

.select__annotation {
  
}

.select__input {
  margin-bottom: 0.4rem;
  padding: 0.65rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 4px;
  border: 1px solid lightgrey;
  font-size: 1rem;
}

.right_bar__button {

}
